a {
    text-shadow: 2px 2px #d8d7d7;
}
button {
    text-shadow: 1px 1px #d8d7d7;
}
h1,h2 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px blueviolet;
}
#services h2 {
    text-align: left;
    color: blueviolet;
    text-shadow: none;
}


